<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Sample namespace-based configuration
  -
  - $Id: applicationContext-security.xml 3019 2008-05-01 17:51:48Z luke_t $
  -->

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                        http://www.springframework.org/schema/security 
						http://www.springframework.org/schema/security/spring-security-2.0.1.xsd">

	<global-method-security secured-annotations="enabled">
		<!-- AspectJ pointcut expression that locates our "post" method and applies security that way
		<protect-pointcut expression="execution(* bigbank.*Service.post*(..))" access="ROLE_TELLER"/>
		-->
	</global-method-security>

    <http auto-config="true">
      
		<form-login login-page="/login.jsp" authentication-failure-url="/login.jsp?login_error"/>
		<intercept-url pattern="/style/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/studentRegister*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/instructorRegister*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/saveStudent*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/saveInstructor*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/**" access="ROLE_STUDENT,ROLE_INSTRUCTOR" />
		 <logout />
	
    </http>
	
	<beans:bean id="customUserDetailsService" class="neu.edu.dao.Details">
		<beans:property name="studentDao" ref="myStudentDao"/>
		<beans:property name="instructorDao" ref="myInstructorDao"/>
	</beans:bean>
	
	<authentication-provider user-service-ref="customUserDetailsService" />
</beans:beans>