<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="hibernate.connection.password">869028</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/course_registration</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create</property>
		<mapping resource="neu/edu/model/Student.hbm.xml"/>
        <mapping resource="neu/edu/model/Instructor.hbm.xml"/>
		<mapping resource="neu/edu/model/Course.hbm.xml"/>
		<mapping resource="neu/edu/model/Major.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
